services:
  # SQL Server 2017
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2017-latest
    container_name: sqlserver_dev
    restart: unless-stopped
    hostname: sqlserver_dev
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Senha@123
      TZ: America/Sao_Paulo
    ports:
      - '1433:1433'
    volumes:
      - sqlserver_data:/var/opt/mssql
      - /etc/localtime:/etc/localtime:ro
    networks:
      - selo_network
    command: /bin/bash -c "/opt/mssql/bin/sqlservr & sleep 20; /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P YourStrong!Passw0rd -i /docker-entrypoint-initdb.d/init-database.sql"

volumes:
  sqlserver_data:

networks:
  selo_network:
    driver: bridge